Repository esize/create-happy-path, changes with the labels that .github/labeler.yml gives for each.
All labels: ğŸ“Œ area: cli, ğŸ“Œ area: happy-app, ğŸ“š documentation, ğŸ“Œ area: ci

.github/labeler.yml:

"ğŸ“Œ area: cli":
  - any: ["cli/**/*"]

"ğŸ“Œ area: happy-app":
  - any: ["cli/template/**/*"]

"ğŸ“š documentation":
  - any: ["docs/**/*"]
  - any: ["**/*.md", "**/*.mdx"]

"ğŸ“Œ area: ci":
  - any: [".github/**/*"]

modernized eslint config
  .eslintrc.cjs
  cli/package.json
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  reset.d.ts
  tsconfig.json
Labels: ğŸ“Œ area: cli

reset
  cli/package.json
  cli/prettier.config.mjs
  cli/src/commands/generate-project.ts
  cli/src/index.ts
  cli/src/utils/render-template.ts
  eslint.config.mjs
  package.json
  tsconfig.json
  turbo.json
Labels: ğŸ“Œ area: cli

hopefully successful modernization efforts for eslint
  cli/.eslintignore
  cli/package.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
  tsconfig.json
Labels: ğŸ“Œ area: cli

let's try it
  cli/package.json
  package.json
Labels: ğŸ“Œ area: cli

for some reason picocolors got lost
  cli/package.json
  pnpm-lock.yaml
Labels: ğŸ“Œ area: cli

playing with changesets
  .changeset/README.md
  .changeset/config.json
  cli/CHANGELOG.md
  cli/package.json
  cli/src/commands/generate-project.ts
Labels: ğŸ“Œ area: cli

fixed formatting
  cli/src/commands/generate-project.ts
Labels: ğŸ“Œ area: cli

fixed publishconfig for cli package
  cli/package.json
Labels: ğŸ“Œ area: cli

fixed repository url for cli package
  cli/package.json
Labels: ğŸ“Œ area: cli

added formatting
  cli/package.json
Labels: ğŸ“Œ area: cli

created changeset
  .changeset/giant-toes-appear.md
Labels: none

added permissions to workflows
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Labels: ğŸ“Œ area: ci

moved permissions to jobs instead of workflow
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Labels: ğŸ“Œ area: ci

changed permissions to write-all
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Labels: ğŸ“Œ area: ci

display version dynamically
  cli/src/constants.ts
  cli/src/index.ts
Labels: ğŸ“Œ area: cli

added changeset
  .changeset/fifty-zoos-work.md
Labels: none

added some basic templating to the cli
  .changeset/sixty-sheep-explain.md
  .prettierignore
  .vscode/settings.json
  cli/package.json
  cli/src/commands/generate-project.ts
  cli/src/utils/render-template.ts
  cli/src/utils/templating.ts
  cli/templates/base/.eslintrc.json
  cli/templates/base/.gitignore
  cli/templates/base/README.md.njk
  cli/templates/base/next.config.mjs
  cli/templates/base/package.json.njk
  cli/templates/base/postcss.config.mjs
  cli/templates/base/src/app/favicon.ico
  cli/templates/base/src/app/fonts/GeistMonoVF.woff
  cli/templates/base/src/app/fonts/GeistVF.woff
  cli/templates/base/src/app/globals.css
  cli/templates/base/src/app/layout.tsx
  cli/templates/base/src/app/page.tsx.njk
  cli/templates/base/tailwind.config.ts
  cli/templates/base/tsconfig.json
  pnpm-lock.yaml
Labels: ğŸ“Œ area: cli

formatted
  cli/templates/base/src/app/layout.tsx
Labels: ğŸ“Œ area: cli

changed layout to a njk file to fix eslint confusion
  eslint.config.js
Labels: none

fix
  cli/templates/base/src/app/layout.tsx.njk
Labels: ğŸ“Œ area: cli

removed templating engine
  .changeset/five-fans-sort.md
  cli/package.json
  cli/src/commands/generate-project.ts
  cli/src/utils/templating.ts
  cli/templates/base/README.md
  cli/templates/base/package.json
  cli/templates/base/src/app/layout.tsx
  cli/templates/base/src/app/page.tsx
  cli/templates/base/src/app/page.tsx.njk
  eslint.config.js
  pnpm-lock.yaml
Labels: ğŸ“Œ area: cli

formatted
  cli/package.json
Labels: ğŸ“Œ area: cli
